body{
  display: flex;
  justify-content: center;
}
#form{
  width: 200px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  border: 3px black solid;
  background-color: bisque;
}

#form span{
  display: block;
}

#form button{
  margin-top: 15px;
  margin-bottom: 15px;
  border: 3px black solid;
}

.msj{
  display: block;
  padding-left: 15px;
}

#msj{
  border-radius: 15px;
  border: 3px black solid;
  background-color: aquamarine;
}

#msjErr{
  padding: 10px;
  border-radius: 15px;
  border: 3px black solid;
  background-color:rgba(207, 50, 50, 0.892)
}